/* You can add global styles to this file, and also import other style files */
$width:45%;
html, body { height: $width; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
    width: $width;
  }